/* ---- ---- ---- ---- ---- ---- EXERCISE ONE ---- ---- ---- ---- ---- ---- ---- 
body {
    max-width: 600px;
    margin: 0 auto;
}

.one {
    background: pink;
    border: 3px solid blue;
    padding: 50px;
    margin: 20px;
}

.two {
    background: lightblue;
    border: 3px solid purple;
    margin-bottom: 50px;
}

.three {
    background: peachpuff;
    border: 3px solid brown;
    width: 200px;
    padding: 50px;
    margin-left: 300px;
} 
---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- */

body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 400px;
    background: #fff;
    padding: 8px;
    font-size: 16px;

}

.title {
    background: #e3f4ff;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 24px;
    padding: 8px;
    border: 1px solid #ccc;
}

.content {
    background: #e3f4ff;
    margin-bottom: 8px;
    padding: 16px 8px;
}

.button-container {
    background: #e3f4ff;
    text-align: center;
    padding: 8px;
}

button {
    background: white;
    border: 1px solid #eee;
    display: block;
    padding: 8px 24px;
    margin: 0 auto;
}